@charset "utf-8";
/* CSS Document */
/*布局*/
.m-auto{ margin:0 auto}
.wraper{ width:1000px;}
.ml-60{ margin-left: 60px;}
header{ background:#95AECE; height:100px; min-height: 50px; position: fixed; width: 100%;op:0px;z-index:9999;/*background-color: rgba(0, 0, 0, 0.1);*/}
.logo a{ text-indent:-9999px; display:block; width:83px; height:65px; background:url(../images/logo.png) no-repeat;}
ul.m-nav li{ float:left;}
ul.m-nav li a{ display:block; padding:20px;font-size: 16px; color: #fff;text-decoration: none;}

ul.m-nav li.active a{color:#162f91}

.photo {
width: 100%;
height: 980px;
background-image:url(../images/bg.jpg);
background-repeat: no-repeat; 
/*background-position: center;
-moz-background-size:contain;
-webkit-background-size:contain;
-o-background-size:contain;
background-size:contain;*/
}
.p-title{ width: 624px; height: 119px; background: url(../images/title.png); top:160px;right:0px;text-indent: -9999px;overflow: hidden;}
.video{ right:0; top:380px;}
p.v-text{ color:#32444a; font-size:18px; height: 50px; width:800px; top:820px; right:0;}

.tsjh{ background:url(../images/v_bg.jpg); height:720px;padding-top:160px; }
/*hdxq*/
.hdxq{ background:url(../images/lotus.jpg) no-repeat bottom; height:780px; padding-top:180px; background-color:#f9f9f9;}
.hdxq h2{ font-size:20px; width:150px; height:30px; background:#d05131; color:#fff; line-height:30px;padding:0;}
.hdxq dl{ width:450px;}
.hdxq dd{ margin-left:100px;font-size:16px;}
.img-add{  border:6px solid #94a8c3;}
.join{border:2px solid #3e3936; width:235px; height:48px; line-height:48px;}
.activity { height:210px;}
.activity dd{ line-height: 34px; height: 34px;}
/*footer*/
footer{ background:url(../images/haizi.jpg) no-repeat bottom; background-color:#f7f7f8; padding-top:140px; color:#000;font-size:16px;font-weight:bold; height:780px;

}
footer h2 { text-indent:-9999px; overflow:hidden; background:url(../images/contact.png) no-repeat center; width:320px; height:98px; border-bottom:1px solid #000;}
footer ul li{background-repeat:no-repeat; background-position:left; height:70px; line-height:70px; padding-left:60px;   }
.f-li-1{ background-image:url(../images/icon-e.png);}
.f-li-2{ background-image:url(../images/icon-sina.png);}
.f-li-3{ background-image:url(../images/icon-addr.png);}
.f-sub{width:320px;}
.f-sub img{padding:10px 0px;}

.mask{width:100%;height:100%;position:absolute;background:#000;opacity:0.6;left:0;top:0;z-index:8888; display:none}